/* Universal */

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Oswold" sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}
.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.flex-space-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
}

/* HEADER */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 4rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid black;
  color: silver;
  background-color: #202020
}

header .container {
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.logo {
  height: 2rem;
}

.logo img {
  height: 2.5rem;
  max-width: 100%;
  color: #0288d1;
}


.logo-text {
  font-size: 1.4rem;
  color: #0288d1;
}

.logo-text span:first-child {
  font-weight: bold;
  color: silver;
}

/* Navigation */

nav {
  border: 2px solid red;
  margin-right: 1.5rem;
}
nav li {
  display: inline;
  margin-left: 1rem;
}
