/* Universal */

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Oswold" sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.column {
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.flex-space-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h3  {
  font-size: 2rem;
}
/* HEADER */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 4rem;
  padding: 0 1.5rem;
  border-bottom: 2px solid black;
  background-color: #0288d1;
}

header .container {
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.logo {
  height: 2rem;
}

.logo img {
  height: 2.5rem;
  max-width: 100%;
}

.logo-text {
  font-size: 1.4rem;
}
.logo-text span:first-child {
  font-weight: bold;
  color: #d9d9d9;
}

/* Navigation */

nav {
  margin-right: 1.5rem;
}
nav li {
  display: inline-flex;
  margin-left: 1rem;
  padding:0.75rem;
}

nav a:hover {
  background-color: black;
  padding:0.5rem;
  color: #d9d9d9;
  border-radius: 5px;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* BANNER */

.banner {
  display: flex;
  padding-top: 4rem;
  background-color: #d9d9d9;
}

.banner-container {
  display: flex;
  padding: 2rem 1.5rem;
  width: 100%;
}

.banner-container img {
  display: flex;
  width: 100%;
  max-height: 50rem;
}

.banner-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-text span {
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
  background-color: #0288d1;
}

.banner-text span:hover {
  transition-property: color;
  transition-duration: 0.5s;
  color: #0288d1;
  background-color: black;

}

.banner-text span,
h1,
h3 {
  margin: 2rem;
}
